configuration {
  modi: "drun,run";
  show-icons: true;
  width: 50%;
  lines: 12;
  font: "DejaVu Sans 10";
}
window {
  background: #151515;
  border-radius: 6px;
  border: { 1px, #2e2e2e };
}
element {
  padding: 8px 10px;
  border-bottom: 1px solid #222;
}
element selected {
  background: #00ffe1;
  color: #000;
}
